* {
  margin: 0;
  padding: 0;
}

html,
body,
#__layout,
#__nuxt,
.el-container {
  // top: 400px;
  // position: absolute;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.el-header,
.el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

.el-container {
  // background-color: red;
  line-height: 260px;
}

.el-header,
.el-footer {
  // background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  text-align: center;
}

.el-aside {
  // background-color: rgba(0, 0, 0, .3);
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  // background-color: rgba(0, 0, 0, .3);
  // color: #333;
}

.bgi {
  background-image: url(../image/back.jpg);
}

.banner {
  position: fixed;
  width: 100%;
  height: 400px;
  // position: relative;

  img {
    height: 400px;
    width: 100%;
  }

  .logo {
    top: 70px;
    left: 100px;
    font-size: 66px;
    position: absolute;
    background-image: -webkit-linear-gradient(top, rgb(109, 5, 104), #790db8, rgb(76, 18, 235));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text {
    left: 100px;
    position: absolute;
    color: white;
    font-size: 20px;
    bottom: 70px
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  top: 400px;
  position: absolute;
  height: auto;
  background-color: #F8F8F8;
  // rgb(255, 192, 0)
  padding: 60px 100px;
}

.w400 {
  width: 200px;
}

.inner {
  width: 100%;
  background-color: white;
}

@media screen and (min-width: 1400px) {
  .inner {
    margin: 0 auto;
    width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .el-col-offset-1 {
    margin-left: 0 !important;
  }

  .card-list {
    margin-top: 40px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    padding: 60px 50px;
  }
}

@media screen and (max-width:500px) {
  .container {
    padding: 60px 20px;
  }

  .banner {
    .logo {
      left: 20px;
    }

    .text {
      left: 20px;
    }
  }

  .top {
    padding: 0 20px !important;
  }
}

.is-active {
  color: red !important
}

.el-tabs__active-bar {
  background-color: red !important;
}

.el-tabs__item:hover {
  color: red !important
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;

}

.box-card {
  .list {
    padding: 0 20px 10px;
    border-bottom: 1px solid #E4E7ED;

    .one {
      .flexs {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        ;
      }

      .status {
        display: none;
        float: left;
        color: red;
        margin-right: 10px;
        font-size: 12px;
      }


      .category {
        span {
          cursor: pointer;
        }

        span:hover {
          text-decoration: underline;
        }

        margin-top: 10px;
        float: left;

        font-size: 12px;
        color: #b3bbc2;
        margin-right: 10px;
      }

      .new {
        margin-right: 10px;
        display: none;
        float: left;
        color: #4d0e9a;
        font-size: 12px;
      }

      .visits {
        margin-right: 10px;
        display: none;
        float: left;
        color: #f70;
        font-size: 12px;
      }

      .time {
        margin-top: 10px;
        float: right;
        font-size: 12px;
        color: #b3bbc2;
      }

      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      // height: 12px;
      // background-color: red;

    }

    .two:hover {
      text-shadow: 0 2px 12px 0 gray;
      text-decoration: underline;
    }

    .two {
      display: inline-block;
      // float: left;
      cursor: pointer;
      margin-top: 10px;
      // width: 187px;
      // height: 19px;
      // font-family: PingFang-SC-Bold;
      font-size: 18px;
      // line-height: 16px;
      // letter-spacing: 0px;
      color: #000000;
    }

    .three {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      height: 30px;
      // background-color: skyblue;
      width: 100%;

      .star:hover {
        box-shadow: 0 2px 12px 0 #edeeef;
      }

      .star {
        transition: .2s;
        cursor: pointer;
        color: #BFBFBF;
        font-size: 12px;
        border: 1px solid #edeeef;
        padding: 4px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .read:hover {
        color: white;
        background-color: black;
        box-shadow: 0 2px 12px 0 gray;
      }

      .read {
        transition: .2s;
        cursor: pointer;
        width: 90px;
        height: 23px;
        line-height: 23px;
        text-align: center;
        background-color: rgb(49, 46, 46); //#4d0e9a
        color: #F8F8F8;
        // padding: 4px 6px;
        border-radius: 10px;
        font-size: 12px;
      }
    }


  }
}

.el-card__body {
  padding: 0;
}

.el-tabs__nav-scroll {
  padding: 10px 20px;
}

.el-tabs__header {
  margin: 0;
}

// .el-tabs {4d0e9a
//   box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
// }
.active {
  margin-top: 10px;
  display: block !important;
}

.fs14 {
  font-size: 14px;
}

.card-list {
  .el-card__header {
    padding: 10px 15px;
  }

  .card-list-item {
    box-sizing: border-box;
    padding: 0 15px 10px 0;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;

    .el-tag {
      margin: 10px 0 0 15px;
    }

    // align-items: center;
  }
}

.card-list+.card-list {
  margin-top: 40px;
}

.el-tag {
  cursor: pointer;
}

.top {
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #F8F8F8;
  position: fixed;
  z-index: 2000;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.el-input__suffix {
  display: flex;
  align-items: center;
}

.topActive {
  transition: .5s;
  background-color: black;
  .home{
    color:white
  }
}
.home{
  cursor: pointer;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: gray;
}

.el-input__suffix {
  cursor: pointer;
}

em {
  font-style: normal;
  color: red;
}

.red {
  color: red;
  font-size: 20px;
}

.tag {
  span:hover {
    text-decoration: underline;
  }
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  cursor: pointer;
  font-size: 12px;
  color: #b3bbc2;
}
